In [ ]:
import pandas as pd
import sk

In [4]:
df = pd.read_csv("/Users/rahib/combined_season1-40.tsv", sep= '\t')

In [9]:
df = df[['category', 'question', 'answer']]
df.dropna(inplace=True)
df

,category,question,answer
0,LAKES & RIVERS,the Jordan,River mentioned most often in the Bible
1,LAKES & RIVERS,loch,Scottish word for lake
2,LAKES & RIVERS,the Missouri,American river only 33 miles shorter than the ...
3,LAKES & RIVERS,the Caspian Sea,"World's largest lake, nearly 5 times as big as..."
4,INVENTIONS,a radio,Marconi's wonderful wireless
...,...,...,...
515889,INSTA-GRAHAM,Heather Graham,She describes herself on Instagram as an actre...
515890,INSTA-GRAHAM,s'mores,Honey Maid Graham crackers posted a hack for m...
515891,INSTA-GRAHAM,Martha Graham,The official account of her dance company post...
515892,INSTA-GRAHAM,Graham Norton,He often posts about his BBC chat show & his G...
515893,ANCIENT ANIMALS,pterodactyls,The first fossils of these creatures with an e...

In [10]:
import re

def clean_text(text):
    text = text.lower()
    text = re.sub(r'\s+', ' ', text)  # Remove extra whitespace
    text = re.sub(r'[^a-zA-Z0-9\s]', '', text)  # Remove punctuation
    return text

df['clean_question'] = df['question'].apply(clean_text)
df['clean_category'] = df['category'].apply(clean_text)

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer

text = "Pasted content goes here..."
vectorizer = TfidfVectorizer(stop_words='english', max_features=10)
keywords = vectorizer.fit([text]).get_feature_names_out()
print(keywords)

ModuleNotFoundError: No module named 'sklearn'